@using Tamagotchi;
<form action="/Index/new" method="post">

<div class="container text-center">
     <br>
      <div class="row">
        <div class="col-sm-4">
          <ul style="list-style-type:none;">
            <li><button id = "feed" type="submit" value = 100 class = "btn btn-info" name="sleep">Feed</button></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <ul style="list-style-type:none;">
            <li><button id = "sleep" type="submit" value = 100 class = "btn btn-info" name="sleep">Sleep</button></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <ul style="list-style-type:none;">
            <li><button id = "play" value = 100 type="submit" class = "btn btn-info" name="sleep">Play</button></li>
          </ul>
        </div>
      </div>
    </div>
  </form>
